{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {}
}
